@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a role="button" class="btn btn-success mb-1">Create</a>
<div class="container border" style=" background-color: rgba(255, 255,255, 0.6);border-radius:10px; box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category</th>
                <th scope="col">Amout</th>
                <th scope="col">Created</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Transport</td>
                <td>-5$</td>
                <td>27.04.11</td>
                <td>
                    <a role="button" class="btn btn-warning btn-normalize">Update</a>
                    <a role="button" class="btn btn-danger btn-normalize">Remove</a>
                    <a role="button" class="btn btn-primary btn-normalize">Details</a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Transport</td>
                <td>-5$</td>
                <td>27.04.11</td>
                <td>
                    <a role="button" class="btn btn-warning btn-normalize">Update</a>
                    <a role="button" class="btn btn-danger btn-normalize">Remove</a>
                    <a role="button" class="btn btn-primary btn-normalize">Details</a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Transport</td>
                <td>-5$</td>
                <td>27.04.11</td>
                <td>
                    <a role="button" class="btn btn-warning btn-normalize">Update</a>
                    <a role="button" class="btn btn-danger btn-normalize">Remove</a>
                    <a role="button" class="btn btn-primary btn-normalize">Details</a>
                </td>

            </tr>
        </tbody>
    </table>
</div>


<style>
    body{
        background-image: url(/images/BookkeepingMain.jpg);
        background-repeat: no-repeat;
        background-color: #cccccc;
        background-size: cover;
        background-position: center;
    }
    .btn-normalize {
        
        padding: 0.3rem 0.6rem;
        font-size: 0.7rem;
        line-height: 1.6;
        border-radius: 0.3rem;
        margin:0;
    }
</style>